:root {
  --primary-col: #0090ff;
  --primary-shade-90: #001d33;
  --primary-back: #f4faff;
  --primary-text: #003463;
  --white-text: #fbfdff;
  --primary-ui: #d9edff;
  --secondary-col: #ff6f00;
  --secondary-ui: #ffeadc;
  --btn-width: 23%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  color: var(--primary-text);
  background: radial-gradient(circle, var(--primary-col), var(--secondary-col));
}
span,
button {
  display: inline-block;
}
#app-container {
  margin: 3.6rem auto;
  max-width: 48rem;
  position: relative;
  padding: 4.8em 2.4em;
  background: var(--primary-shade-90);
  border-radius: 1.2rem;
  box-shadow: var(--primary-text) 0px 5px 15px;
}
#display-container {
  width: 100%;
  height: 16rem;
  background: var(--primary-ui);
  border: 2px solid var(--primary-ui);
  margin-bottom: 2.4em;

  position: relative;
}
#display-content {
  font-size: 3.6rem;
  font-weight: 700;
  margin: 0 0.6em 0.2em 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
#btns-container {
  width: 100%;
  margin-top: 2.4rem;
}
#btns-wrapper-1 {
  padding-bottom: 1.8rem;
}
#btns-wrapper-2 {
  padding-bottom: 1.8rem;
}
#btns-wrapper-3 {
  padding-bottom: 1.8rem;
}
.btn {
  width: var(--btn-width);
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  padding: 1em 1.8em;
  border: none;
  border-radius: 0.8rem;
  text-align: center;
  background: var(--secondary-col);
  color: var(--white-text);
}
.btn:hover,
.btn:active {
  background: #ffcaaa;
}
#btn-zero {
  width: calc(var(--btn-width) * 2.11);
  margin-right: 0.8rem;
}
#btn-equals {
  background: var(--primary-col);
  color: var(--white-text);
}
.btns-wrapper > :not(:last-child) {
  background: var(--primary-back);
  color: var(--primary-text);
  margin-right: 0.8rem;
}
.btns-wrapper > :not(:last-child):hover,
#btn-equals:hover {
  background: var(--primary-text);
  color: var(--white-text);
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
